In [3]:
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt

In [33]:
import datetime

In [4]:
installs = pd.read_csv("installs.csv")
clicks = pd.read_csv("clicks.csv")

In [60]:
installs.describe()

,application_id,ref_type,ref_hash,click_hash,device_countrycode,device_brand,device_model,ip_address,device_language
count,3412.000000,3.412000e+03,3.412000e+03,0.0,3.412000e+03,1.047000e+03,3.411000e+03,3.412000e+03,3.378000e+03
mean,10.247655,1.736533e+18,4.598202e+18,NaN,4.764401e+18,1.877864e+18,4.245276e+18,4.562040e+18,4.915828e+18
std,6.016194,1.936976e+17,2.663828e+18,NaN,1.678051e+18,1.886461e+18,2.620844e+18,2.683422e+18,2.477019e+18
min,0.000000,1.494519e+18,4.958527e+15,NaN,2.970471e+18,3.083059e+17,5.112505e+16,7.118754e+15,1.101539e+17
25%,7.000000,1.494519e+18,2.268353e+18,NaN,2.970471e+18,3.083059e+17,2.331947e+18,2.249197e+18,3.301378e+18
50%,9.000000,1.891515e+18,4.603807e+18,NaN,6.333597e+18,2.208835e+18,2.983638e+18,4.436113e+18,3.301378e+18
75%,10.000000,1.891515e+18,6.912404e+18,NaN,6.333597e+18,2.523246e+18,6.882415e+18,7.017564e+18,6.977049e+18
max,36.000000,1.891515e+18,9.218934e+18,NaN,6.333597e+18,9.169527e+18,9.222450e+18,9.221950e+18,9.028383e+18

In [65]:
clicks.head()

,Unnamed: 0,Unnamed: 0.1,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,...,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093
1,1,1,0,NaN,0,2019-03-08T10:24:30.641Z,6333597102633388268,1.218924,1.071209,False,...,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,2,2,0,NaN,0,2019-03-08T15:24:16.069Z,6333597102633388268,1.205689,1.070234,False,...,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647
3,3,3,2,NaN,3,2019-03-06T03:08:51.543Z,6333597102633388268,1.205689,1.070234,False,...,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525
4,4,4,2,NaN,3,2019-03-06T03:32:55.570Z,6333597102633388268,1.205689,1.070234,False,...,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,28.110,0.054,0.423,1891515180541284343,4368617728156436525

In [64]:
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-03-13 01:43:33.445,0,1891515180541284343,8464844987297247076,NaN,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,5529284367937637301,NaN
1,2019-03-13 04:58:35.078,0,1891515180541284343,3250564871270161533,NaN,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,6098022721363533304,NaN
2,2019-03-13 04:20:57.666,0,1891515180541284343,7953318831018100268,NaN,False,True,6333597102633388268,5.137992e+17,6.026543e+18,HasOffers Mobile AppTracking v1.0,NaN,0bfa9b4c-e07a-4522-b32d-138e3165ac98,Open,NaN,NaN,4636407223847323867,3.301378e+18
3,2019-03-13 04:20:57.698,0,1891515180541284343,7953318831018100268,NaN,False,False,6333597102633388268,5.137992e+17,6.026543e+18,NaN,NaN,NaN,NaN,NaN,NaN,4636407223847323867,NaN
4,2019-03-10 22:24:56.684,0,1891515180541284343,8355110941557237501,NaN,False,True,6333597102633388268,1.083369e+18,7.876612e+18,HasOffers Mobile AppTracking v1.0,NaN,8f235a8c-41bf-4399-b33d-c41577c949b0,Open,NaN,NaN,685400811232710215,3.301378e+18

In [61]:
clicks.describe()

,Unnamed: 0,Unnamed: 0.1,advertiser_id,action_id,source_id,country_code,latitude,longitude,carrier_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
count,26351.000000,26351.000000,26351.000000,0.0,26351.000000,2.635100e+04,26351.000000,26351.000000,26340.000000,2.633900e+04,3.243000e+03,2.633900e+04,2.635100e+04,6235.000000,22977.000000,23011.000000,23011.000000,2.635100e+04,2.635100e+04
mean,13175.000000,13175.000000,2.991993,NaN,1.245266,6.333597e+18,1.206906,1.070233,7.743812,4.635375e+18,4.171028e+18,3.913451e+18,1.299055e+18,1.482277,230.403309,0.638784,1.478656,1.888100e+18,4.611581e+18
std,7607.022808,7607.022808,0.164070,NaN,2.188948,2.089000e+05,0.004484,0.001896,7.017027,1.642969e+18,2.460496e+18,1.885866e+18,1.149672e+18,1.583764,976.849149,0.301983,2.622727,1.721252e+17,2.673175e+18
min,0.000000,0.000000,0.000000,NaN,0.000000,6.333597e+18,1.205058,1.058204,0.000000,6.666626e+17,4.513618e+16,7.436481e+17,3.921844e+17,0.000000,0.017000,0.000000,0.000000,1.494519e+18,9.286192e+14
25%,6587.500000,6587.500000,3.000000,NaN,0.000000,6.333597e+18,1.205689,1.070234,3.000000,3.378640e+18,1.975183e+18,1.774085e+18,3.921844e+17,0.000000,2.915000,0.426000,0.183000,1.891515e+18,2.273798e+18
50%,13175.000000,13175.000000,3.000000,NaN,0.000000,6.333597e+18,1.205689,1.070234,6.000000,3.511538e+18,3.516812e+18,3.072849e+18,3.921844e+17,1.000000,10.588000,0.726000,0.645000,1.891515e+18,4.623721e+18
75%,19762.500000,19762.500000,3.000000,NaN,1.000000,6.333597e+18,1.205689,1.070234,13.000000,6.391567e+18,6.589622e+18,4.566454e+18,2.733036e+18,2.000000,71.703000,0.901000,0.991000,1.891515e+18,6.917850e+18
max,26350.000000,26350.000000,8.000000,NaN,10.000000,6.333597e+18,1.237861,1.085358,116.000000,9.081082e+18,9.221733e+18,7.499732e+18,8.930605e+18,13.000000,17616.188000,1.000000,16.600000,6.323872e+18,9.221118e+18

# ¿Podemos mergear los dataframes installs y clicks?

Lo que se busca con el merge es verificar si un usuario tiende a instalar la aplicación luego de ver la publicidad, para eso se busca comparar las fechas de click y las fechas de instalación, y ver la diferencia entre ambas. Para analizar esto correctamente hay que asegurarse de estar analizando sobre exactamente el mismo dispositivo

In [5]:
installs.dtypes

created                object
application_id          int64
ref_type                int64
ref_hash                int64
click_hash            float64
attributed               bool
implicit                 bool
device_countrycode      int64
device_brand          float64
device_model          float64
session_user_agent     object
user_agent             object
event_uuid             object
kind                   object
wifi                   object
trans_id               object
ip_address              int64
device_language       float64
dtype: object

In [6]:
clicks.dtypes

Unnamed: 0           int64
Unnamed: 0.1         int64
advertiser_id        int64
action_id          float64
source_id            int64
created             object
country_code         int64
latitude           float64
longitude          float64
wifi_connection       bool
carrier_id         float64
trans_id            object
os_minor           float64
agent_device       float64
os_major           float64
specs_brand          int64
brand              float64
timeToClick        float64
touchX             float64
touchY             float64
ref_type             int64
ref_hash             int64
dtype: object

Asumiendo que la columna application_id del dataframe install y la columna advertiser_id del dataframe clicks refieren a la misma aplicación, se mergean los dataframes de installs y clicks. Luego, filtro el dataframe mergeado para poder asegurar el click y el install pertenecen al mismo dispositivo, sin embargo no se encuentra información suficiente para asegurarlo.

In [97]:
merged = pd.merge(clicks, installs, left_on = "advertiser_id", right_on = "application_id", how = "inner")
merged = merged.loc[merged['country_code'] == merged['device_countrycode']]
merged.head()

,Unnamed: 0,Unnamed: 0.1,advertiser_id,action_id,source_id,created_x,country_code,latitude,longitude,wifi_connection,...,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id_y,ip_address,device_language
0,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,3.083059e+17,8.656854e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 22; SM-J200M B...,NaN,NaN,True,NaN,5997848429649592955,9.028383e+18
1,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,3.083059e+17,2.066431e+17,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,NaN,NaN,True,NaN,6500828119610424253,9.028383e+18
2,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,2.208835e+18,5.390868e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 6.0; MotoG3-TE...,NaN,NaN,True,NaN,519141635435520031,9.028383e+18
3,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,2.987569e+18,4.547631e+17,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.1.0; Redmi 6...,5e8458cb-787c-448c-8836-2e808dbc2c15,open,True,NaN,8219558276376618700,9.028383e+18
4,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,3.083059e+17,7.398943e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-G531...,NaN,NaN,True,NaN,5625480666756000613,9.028383e+18

In [98]:
merged.size

136640

In [99]:
merged.dtypes

Unnamed: 0              int64
Unnamed: 0.1            int64
advertiser_id           int64
action_id             float64
source_id               int64
created_x              object
country_code            int64
latitude              float64
longitude             float64
wifi_connection          bool
carrier_id            float64
trans_id_x             object
os_minor              float64
agent_device          float64
os_major              float64
specs_brand             int64
brand                 float64
timeToClick           float64
touchX                float64
touchY                float64
ref_type_x              int64
ref_hash_x              int64
created_y              object
application_id          int64
ref_type_y              int64
ref_hash_y              int64
click_hash            float64
attributed               bool
implicit                 bool
device_countrycode      int64
device_brand          float64
device_model          float64
session_user_agent     object
user_agent             object
event_uuid             object
kind                   object
wifi                   object
trans_id_y             object
ip_address              int64
device_language       float64
dtype: object

In [100]:
merged['created_x'] = merged['created_x'].astype(str)

In [101]:
merged['fecha_x'] = merged['created_x'].str[:10] + ' ' + merged['created_x'].str[11:23]
merged.head()

,Unnamed: 0,Unnamed: 0.1,advertiser_id,action_id,source_id,created_x,country_code,latitude,longitude,wifi_connection,...,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id_y,ip_address,device_language,fecha_x
0,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,8.656854e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 22; SM-J200M B...,NaN,NaN,True,NaN,5997848429649592955,9.028383e+18,2019-03-06 22:42:12.755
1,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,2.066431e+17,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,NaN,NaN,True,NaN,6500828119610424253,9.028383e+18,2019-03-06 22:42:12.755
2,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,5.390868e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 6.0; MotoG3-TE...,NaN,NaN,True,NaN,519141635435520031,9.028383e+18,2019-03-06 22:42:12.755
3,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,4.547631e+17,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.1.0; Redmi 6...,5e8458cb-787c-448c-8836-2e808dbc2c15,open,True,NaN,8219558276376618700,9.028383e+18,2019-03-06 22:42:12.755
4,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,7.398943e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-G531...,NaN,NaN,True,NaN,5625480666756000613,9.028383e+18,2019-03-06 22:42:12.755

Ahora busco comparar las fechas de instalación y fechas de clicks para cada id de advertiser (asumiendo que es la equivalente a la id de la aplicación), para ello recupero la fecha de cada click e instalación con la mayor precisión posible.
Con esto se busca verificar si hay aplicaciones cuya instalación se realizó al poco tiempo de haber hecho click en la publicidad de la misma

In [102]:
merged['fecha_x'] = pd.to_datetime(merged['fecha_x'])

In [103]:
merged['fecha_y'] = merged['created_y'].str[:10] + ' ' + merged['created_y'].str[11:23]
merged.head()

,Unnamed: 0,Unnamed: 0.1,advertiser_id,action_id,source_id,created_x,country_code,latitude,longitude,wifi_connection,...,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id_y,ip_address,device_language,fecha_x,fecha_y
0,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 22; SM-J200M B...,NaN,NaN,True,NaN,5997848429649592955,9.028383e+18,2019-03-06 22:42:12.755,2019-03-13 08:29:31.875
1,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,NaN,NaN,True,NaN,6500828119610424253,9.028383e+18,2019-03-06 22:42:12.755,2019-03-13 04:30:00.812
2,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 6.0; MotoG3-TE...,NaN,NaN,True,NaN,519141635435520031,9.028383e+18,2019-03-06 22:42:12.755,2019-03-13 00:26:32.561
3,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.1.0; Redmi 6...,5e8458cb-787c-448c-8836-2e808dbc2c15,open,True,NaN,8219558276376618700,9.028383e+18,2019-03-06 22:42:12.755,2019-03-13 11:36:30.025
4,0,0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,...,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-G531...,NaN,NaN,True,NaN,5625480666756000613,9.028383e+18,2019-03-06 22:42:12.755,2019-03-13 13:15:14.566

In [104]:
merged['fecha_y'] = pd.to_datetime(merged['fecha_y'])

In [105]:
merged=merged.rename(columns = {'fecha_x':'fecha click', 'fecha_y':'fecha install'})

In [106]:
mergedFechas = merged[['advertiser_id','fecha click','fecha install']]

Se crea una columna con la diferencia de tiempo entre la fecha de click y la fecha de instalación para cada advertiser_id, se entende que si una persona abre una publicidad y esta la convence de instalarla, la diferencia de tiempo entre instalación y click no debería ser muy grande.

In [107]:
mergedFechas.head()

   advertiser_id             fecha click           fecha install
0              2 2019-03-06 22:42:12.755 2019-03-13 08:29:31.875
1              2 2019-03-06 22:42:12.755 2019-03-13 04:30:00.812
2              2 2019-03-06 22:42:12.755 2019-03-13 00:26:32.561
3              2 2019-03-06 22:42:12.755 2019-03-13 11:36:30.025
4              2 2019-03-06 22:42:12.755 2019-03-13 13:15:14.566

In [108]:
mergedFechas['diferencia de tiempo'] = mergedFechas['fecha install'] - mergedFechas['fecha click']
mergedFechas.head()

/home/federico/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,advertiser_id,fecha click,fecha install,diferencia de tiempo
0,2,2019-03-06 22:42:12.755,2019-03-13 08:29:31.875,6 days 09:47:19.120000
1,2,2019-03-06 22:42:12.755,2019-03-13 04:30:00.812,6 days 05:47:48.057000
2,2,2019-03-06 22:42:12.755,2019-03-13 00:26:32.561,6 days 01:44:19.806000
3,2,2019-03-06 22:42:12.755,2019-03-13 11:36:30.025,6 days 12:54:17.270000
4,2,2019-03-06 22:42:12.755,2019-03-13 13:15:14.566,6 days 14:33:01.811000

Se entiende que la diferencia de tiempo no debería ser mayor a 20 minutos

In [122]:
mergedFechasAppsInstaladas = mergedFechas\
        .loc[mergedFechas['diferencia de tiempo'] >= pd.Timedelta(0,'D')]\
        .loc[mergedFechas['diferencia de tiempo'] < pd.Timedelta(20,'m')]        
        #.loc[mergedFechas['diferencia de tiempo'] = pd.Timedelta(0,'h')]\
        #.loc[mergedFechas['diferencia de tiempo'] = pd.Timedelta(0,'m')]

In [123]:
mergedFechasAppsInstaladas.sort_values(by = 'diferencia de tiempo', ascending = False)

,advertiser_id,fecha click,fecha install,diferencia de tiempo
679,2,2019-03-05 22:58:38.072,2019-03-05 23:18:34.149,00:19:56.077000
842,2,2019-03-05 19:57:05.377,2019-03-05 20:08:23.242,00:11:17.865000
1368,2,2019-03-05 18:09:34.110,2019-03-05 18:20:07.931,00:10:33.821000
1714,2,2019-03-05 19:11:45.452,2019-03-05 19:13:07.249,00:01:21.797000
1713,2,2019-03-05 19:11:45.452,2019-03-05 19:12:35.860,00:00:50.408000

In [124]:
mergedFechasAppsInstaladas.size

20

No se consigue una cantidad suficiente de datos con este análisis para poder verificar si los usuarios realmente instalan las aplicaciones luego de haber dado click en su respectiva publicidad, además para los datos recibidos no puede asegurarse que el click y la instalación se hayan dado en el mismo dispositivo

# ¿Existen otras columnas sobre las que se puedan mergear installs y clicks?