In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
subs = pd.read_csv("data/auctions.csv", dtype = {"auction_type_id": np.float16, "platform": np.int8, "ref_type_id": np.int8, "source_id": np.int8})

In [3]:
subs.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [4]:
evts = pd.read_csv("data/events.csv", dtype = {"event_id": np.int16, "application_id": np.int16})

/home/jorge/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
evts.head()

,date,event_id,ref_type,ref_hash,application_id,attributed,device_countrycode,device_os_version,device_brand,device_model,...,trans_id,user_agent,event_uuid,carrier,kind,device_os,wifi,connection_type,ip_address,device_language
0,2019-03-05 00:09:36.966,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,a9c0b263-acb2-4577-92c5-cbde5d7a5db1,2.248157e+17,5.516623e+18,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17
1,2019-03-05 00:09:38.920,1,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,1cd98205-0d97-4ec2-a019-667997dbfe7a,2.248157e+17,9.977660e+17,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17
2,2019-03-05 00:09:26.195,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,f02e2924-21ae-492b-b625-9021ae0a4eca,2.248157e+17,5.516623e+18,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17
3,2019-03-05 00:09:31.107,2,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,a813cf45-a36e-4668-85e2-5395f1564e98,2.248157e+17,8.561153e+18,7.531669e+18,NaN,Cable/DSL,6324037615828123965,4.077062e+17
4,2019-03-09 21:00:36.585,3,1891515180541284343,2635154697734164782,38,False,6333597102633388268,7.391844e+18,NaN,5.960896e+18,...,NaN,NaN,63a4f0aa-e147-469f-8c55-4ca4f8d0e310,2.248157e+17,8.731902e+17,7.531669e+18,NaN,Cable/DSL,2894495631302821483,3.301378e+18

In [214]:
inst = pd.read_csv("data/installs.csv", dtype = {"application_id": np.int16, "click_hash": np.float16})
inst.head(10)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-03-13 01:43:33.445,0,1891515180541284343,8464844987297247076,NaN,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,5529284367937637301,NaN
1,2019-03-13 04:58:35.078,0,1891515180541284343,3250564871270161533,NaN,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,6098022721363533304,NaN
2,2019-03-13 04:20:57.666,0,1891515180541284343,7953318831018100268,NaN,False,True,6333597102633388268,5.137992e+17,6.026543e+18,HasOffers Mobile AppTracking v1.0,NaN,0bfa9b4c-e07a-4522-b32d-138e3165ac98,Open,NaN,NaN,4636407223847323867,3.301378e+18
3,2019-03-13 04:20:57.698,0,1891515180541284343,7953318831018100268,NaN,False,False,6333597102633388268,5.137992e+17,6.026543e+18,NaN,NaN,NaN,NaN,NaN,NaN,4636407223847323867,NaN
4,2019-03-10 22:24:56.684,0,1891515180541284343,8355110941557237501,NaN,False,True,6333597102633388268,1.083369e+18,7.876612e+18,HasOffers Mobile AppTracking v1.0,NaN,8f235a8c-41bf-4399-b33d-c41577c949b0,Open,NaN,NaN,685400811232710215,3.301378e+18
5,2019-03-10 22:24:57.545,0,1891515180541284343,8355110941557237501,NaN,False,False,6333597102633388268,1.083369e+18,7.876612e+18,NaN,NaN,NaN,NaN,NaN,NaN,685400811232710215,NaN
6,2019-03-11 03:47:22.802,0,1891515180541284343,4306303321567254439,NaN,False,True,6333597102633388268,3.083059e+17,9.179743e+18,HasOffers Mobile AppTracking v1.0,NaN,b3f7905b-5058-4eca-853c-b3c670d7ac54,Open,NaN,NaN,7462893331703692427,4.073835e+18
7,2019-03-11 21:21:05.986,0,1891515180541284343,1670430602051291592,NaN,False,False,6333597102633388268,1.083369e+18,7.551685e+17,NaN,NaN,NaN,NaN,NaN,NaN,5634136297886425939,NaN
8,2019-03-11 21:21:05.855,0,1891515180541284343,1670430602051291592,NaN,False,True,6333597102633388268,1.083369e+18,7.551685e+17,HasOffers Mobile AppTracking v1.0,NaN,28a6e6a0-ba70-46a2-a63f-1e74b0dd5235,Open,NaN,NaN,5634136297886425939,3.301378e+18
9,2019-03-13 08:29:31.875,2,1891515180541284343,5651666841804012468,NaN,False,False,6333597102633388268,3.083059e+17,8.656854e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 22; SM-J200M B...,NaN,NaN,True,NaN,5997848429649592955,9.028383e+18

# Analisis de los tipos de datos del dataframe instalaciones

In [215]:
#Primero analizo cuanto ocupa el datframe instalciones 
# para ello uso la funcion memory_usage()
inst.memory_usage(deep=True).sum()

1495715

In [216]:
# Vemos que el dataframa inst ocupa 1,4 gb vemos cuanto ocupa cada campo
inst.memory_usage(deep=True)

Index                     80
created               272960
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent    233678
user_agent            250559
event_uuid            161949
kind                  140818
wifi                  114692
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [217]:
#vemos que las columnas created , session_user_agent, user_agent,event_uuid, kinf , wiffi y trans_id 
#son la que mas memoria ocupan
# ahora anlizamos los tipos de datos
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 18 columns):
created               3412 non-null object
application_id        3412 non-null int16
ref_type              3412 non-null int64
ref_hash              3412 non-null int64
click_hash            0 non-null float16
attributed            3412 non-null bool
implicit              3412 non-null bool
device_countrycode    3412 non-null int64
device_brand          1047 non-null float64
device_model          3411 non-null float64
session_user_agent    3364 non-null object
user_agent            1729 non-null object
event_uuid            865 non-null object
kind                  865 non-null object
wifi                  1729 non-null object
trans_id              6 non-null object
ip_address            3412 non-null int64
device_language       3378 non-null float64
dtypes: bool(2), float16(1), float64(3), int16(1), int64(4), object(7)
memory usage: 393.3+ KB

In [218]:
#Se puede ver que la columna created que almacena fecha y hora esta como object. 
#Convertimos la columna crated a datetime
inst['created']=pd.to_datetime(inst['created'])
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent    233678
user_agent            250559
event_uuid            161949
kind                  140818
wifi                  114692
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [219]:
#Vemos que logramos bajar de aproximadamente 270 mb a 27 mb el tamaño de la columna created
#Convertimos el campo wifi a bool y reducimos tambien la memoria
inst['wifi']=inst['wifi'].astype('bool')
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent    233678
user_agent            250559
event_uuid            161949
kind                  140818
wifi                    3412
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [220]:
# Analizamos session_user_agent que ocpa 236 mb
inst['session_user_agent'].isnull().sum()

48

In [221]:
#vemps que session_user_agent hay 48 valores nulos y 12 valores únicos

inst['session_user_agent'].describe()

count             3364
unique              12
top       http-kit/2.0
freq              1729
Name: session_user_agent, dtype: object

In [222]:
# Como son pocos valores nulos, elejimps elimnar esas filas y convertir el tipo de dato a category
inst['session_user_agent']=inst['session_user_agent'].dropna()
inst['session_user_agent'].isnull().sum()

48

In [223]:
inst['session_user_agent']=inst['session_user_agent'].astype('category')
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent      5817
user_agent            250559
event_uuid            161949
kind                  140818
wifi                    3412
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [224]:
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 18 columns):
created               3412 non-null datetime64[ns]
application_id        3412 non-null int16
ref_type              3412 non-null int64
ref_hash              3412 non-null int64
click_hash            0 non-null float16
attributed            3412 non-null bool
implicit              3412 non-null bool
device_countrycode    3412 non-null int64
device_brand          1047 non-null float64
device_model          3411 non-null float64
session_user_agent    3364 non-null category
user_agent            1729 non-null object
event_uuid            865 non-null object
kind                  865 non-null object
wifi                  3412 non-null bool
trans_id              6 non-null object
ip_address            3412 non-null int64
device_language       3378 non-null float64
dtypes: bool(3), category(1), datetime64[ns](1), float16(1), float64(3), int16(1), int64(4), object(4)
memory usage: 347.0+ KB

In [225]:
#analizo trans:id
inst['trans_id'].describe()

count          6
unique         4
top       {hash}
freq           3
Name: trans_id, dtype: object

In [226]:
#veo que trans_ide solo tiene 6 valores no nulos por lo no tiene sentido que si
del inst['trans_id']

In [227]:
inst.memory_usage(deep=True).sum()

801475

In [228]:
#analizo kind
inst['kind'].describe()

count               865
unique               20
top       af_app_opened
freq                428
Name: kind, dtype: object

In [229]:
#vemos que la columan kind tiene 20 valores distintos por lo que puedo pasarlo a categorica
inst['kindt']=inst['kind'].astype('category')
inst.memory_usage(deep=True).sum()

806936

In [230]:
#analizo eventi uuid
inst['event_uuid'].describe()

count                                      865
unique                                     865
top       77de689a-87fb-4246-9122-87bef19e13db
freq                                         1
Name: event_uuid, dtype: object

In [231]:
# como vemos que tien 865 valores unicos no se podria exraer conclusion alguna por lo que puedo eleiminar esa columna
del inst['event_uuid']

In [232]:
inst.memory_usage(deep=True).sum()

644987

In [233]:
#analizo user_agent
inst['user_agent'].describe()

count                                                 1729
unique                                                 334
top       MercadoPago/2.58.0.2 CFNetwork/976 Darwin/18.2.0
freq                                                   393
Name: user_agent, dtype: object

In [234]:
inst['user_agent']=inst['user_agent'].astype('category')
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent      5817
user_agent             56854
kind                  140818
wifi                    3412
ip_address             27296
device_language        27296
kindt                   5461
dtype: int64

In [235]:
inst['kind']=inst['kind'].astype('category')
inst.memory_usage(deep=True)

Index                    80
created               27296
application_id         6824
ref_type              27296
ref_hash              27296
click_hash             6824
attributed             3412
implicit               3412
device_countrycode    27296
device_brand          27296
device_model          27296
session_user_agent     5817
user_agent            56854
kind                   5461
wifi                   3412
ip_address            27296
device_language       27296
kindt                  5461
dtype: int64

In [236]:
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 17 columns):
created               3412 non-null datetime64[ns]
application_id        3412 non-null int16
ref_type              3412 non-null int64
ref_hash              3412 non-null int64
click_hash            0 non-null float16
attributed            3412 non-null bool
implicit              3412 non-null bool
device_countrycode    3412 non-null int64
device_brand          1047 non-null float64
device_model          3411 non-null float64
session_user_agent    3364 non-null category
user_agent            1729 non-null category
kind                  865 non-null category
wifi                  3412 non-null bool
ip_address            3412 non-null int64
device_language       3378 non-null float64
kindt                 865 non-null category
dtypes: bool(3), category(4), datetime64[ns](1), float16(1), float64(3), int16(1), int64(4)
memory usage: 267.9 KB

In [237]:
#vemos que la columna click_hash es no tiene valores no nulos
del inst['click_hash']

In [246]:
inst.memory_usage(deep=True)

Index                    80
created               27296
application_id         6824
ref_type              27296
ref_hash              27296
attributed             3412
implicit               3412
device_countrycode     3508
device_brand           4908
device_model          27296
session_user_agent     5817
user_agent            56854
kind                   5461
wifi                   3412
ip_address            27296
device_language        4932
kindt                  5461
dtype: int64

In [239]:
#paso a categorias algunos campos
inst['device_countrycode']=inst['device_countrycode'].astype('category')
inst['device_brand']=inst['device_brand'].astype('category')
#inst['device_model']=inst['device_model'].astype('category')
inst['device_language']=inst['device_language'].astype('category')

inst.memory_usage(deep=True)

Index                    80
created               27296
application_id         6824
ref_type              27296
ref_hash              27296
attributed             3412
implicit               3412
device_countrycode     3508
device_brand           4908
device_model          27296
session_user_agent     5817
user_agent            56854
kind                   5461
wifi                   3412
ip_address            27296
device_language        4932
kindt                  5461
dtype: int64

In [245]:
# El dataframa inst paso de casi 1,5 gb a 240 mb!!!
inst.memory_usage(deep=True).sum()

240561

# Analisis de los tipos de datos del dataframe clicks

# Analisis de los tipos de datos del dataframe auctions

# Analisis de los tipos de datos del dataframe eventos