In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import auc, accuracy_score
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
import xgboost as xgb

In [5]:
#subs = pd.read_csv("data/auctions.csv.gzip",dtype = {"auction_type_id": np.float16, "platform": np.int8, "ref_type_id": np.int8, "source_id": np.int8})
#evts = pd.read_csv("data/events.csv.gzip", dtype = {"event_id": np.int16, "application_id": np.int16})
#clks = pd.read_csv("data/clicks.csv.gzip", dtype = {"advertiser_id": np.int8, "action_id": np.float16, "source_id": np.int8, "carrier_id": np.float16, "brand": np.float16, "touchX": np.float16, "touchY": np.float16})

In [22]:
import gzip
def ggzip(source_filepath, dest_filepath, block_size=65536):
    with gzip.open(dest_filepath, 'wb') as d_file, \
            open(source_filepath, 'rb') as s_file:
        for i in range(block_size):
            line = s_file.readline()
            if not line:
                break
            else:
                d_file.write(line)
        #d_file.write(block)
        
ggzip("data/auctions.csv.gzip", "data/auctions_reducido.csv.gzip", 100000)

In [23]:
auct = pd.read_csv("data/auctions_reducido.csv.gzip", compression = 'gzip' )

In [24]:
auct

                             date            device_id  ref_type_id  source_id
0      2019-04-23 18:58:00.842116  2564673204772915246            1          0
1      2019-04-23 18:58:01.530771  4441121667607578179            7          0
2      2019-04-23 18:58:01.767562  7721769811471055264            1          0
3      2019-04-23 18:58:02.363468  6416039086842158968            1          0
4      2019-04-23 18:58:02.397559  1258642015983312729            1          0
5      2019-04-23 18:58:02.675804  6707090658317158573            1          0
6      2019-04-23 18:58:02.848212  8869722088125970841            1          0
7      2019-04-23 18:58:03.048872  7445213948764639634            1          0
8      2019-04-23 18:58:03.285788  2932617030932207332            1          0
9      2019-04-23 18:58:03.532112  6405811806780450397            7          0
10     2019-04-23 18:58:03.592586  1016964604674548371            7          0
11     2019-04-23 18:58:04.956218  6128993631208059516            1          0
12     2019-04-23 18:58:05.513681  3611339082207397874            1          0
13     2019-04-23 18:58:05.962703  6128993631208059516            1          0
14     2019-04-23 18:58:06.902183  2749372725404302683            1          0
15     2019-04-23 18:58:08.050630  2511255463637788199            7          0
16     2019-04-23 18:58:09.932333  4449848882683774963            1          0
17     2019-04-23 18:58:10.914748  7918003943044320156            1          0
18     2019-04-23 18:58:11.228460  4260139173429359652            1          0
19     2019-04-23 18:58:12.129322  6979971691991862458            1          0
20     2019-04-23 18:58:12.363812   599652221973595515            1          0
21     2019-04-23 18:58:12.579860  8315323311690794428            1          0
22     2019-04-23 18:58:13.181160  8163472114152043023            1          0
23     2019-04-23 18:58:13.225149   670595227383970341            1          0
24     2019-04-23 18:58:13.265363  2179233056266516762            7          0
25     2019-04-23 18:58:13.560771  7122348392743770281            1          0
26     2019-04-23 18:58:15.017336  2511255463637788199            7          0
27     2019-04-23 18:58:15.562112   599652221973595515            1          0
28     2019-04-23 18:58:16.045103  3429312538327323541            1          0
29     2019-04-23 18:58:16.254955  6764331047130237504            1          0
...                           ...                  ...          ...        ...
99969  2019-04-23 02:49:06.189159  7923389938617451744            7          1
99970  2019-04-23 02:49:06.840717  2599252672781277900            1          1
99971  2019-04-23 02:49:07.913821  8843007657990884440            7          1
99972  2019-04-23 02:49:07.939538  5002577620861030276            1          1
99973  2019-04-23 02:49:08.168070   702053795535510491            1          1
99974  2019-04-23 02:49:08.293823  7920427875530442697            1          1
99975  2019-04-23 02:49:08.342738   745644419955539853            1          1
99976  2019-04-23 02:49:08.588941  2710942799155706831            7          1
99977  2019-04-23 02:49:10.128204  3631820772936468185            1          1
99978  2019-04-23 02:49:10.354707  2292805313209554651            1          1
99979  2019-04-23 02:49:10.897824   982853798123231769            1          1
99980  2019-04-23 02:49:11.344376  2605866115067220366            1          1
99981  2019-04-23 02:49:11.742211  4597742665480080696            1          1
99982  2019-04-23 02:49:13.476529  3037187459506940632            1          1
99983  2019-04-23 02:49:14.040833  4402178931507259778            1          1
99984  2019-04-23 02:49:14.439145  9093078880151765619            1          1
99985  2019-04-23 02:49:14.578960  7304975376429748272            1          1
99986  2019-04-23 02:49:14.605869  3843896356900503731            1          1
99987  2019-04-23 02:49:16.207961  3179089627633182751            1          1
99988  2019-04-23 02:49:17.691089  4639681859294360283            1          1
99989  2019-04-23 02:49:17.848514  3030704268648068125            1          1
99990  2019-04-23 02:49:17.874406  5685421743568472756            1          1
99991  2019-04-23 02:49:18.198399  7933378207972643227            1          1
99992  2019-04-23 02:49:18.268059  5025506270307220902            1          1
99993  2019-04-23 02:49:18.534801  6398991582139600356            7          1
99994  2019-04-23 02:49:18.755735  7794286060406644137            1          1
99995  2019-04-23 02:49:20.016333  7506265750670098675            1          1
99996  2019-04-23 02:49:20.340692  6266800967371770707            1          1
99997  2019-04-23 02:49:21.653109  4558138270622230124            1          1
99998  2019-04-23 02:49:22.062922  2253880720490403001            1          1

[99999 rows x 4 columns]