In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import auc, accuracy_score
from sklearn.model_selection import cross_val_score, cross_val_predict, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
import datetime as dt

Cargo los csv con los features

In [4]:
aut1= pd.read_csv( 'data/features1_aut1.csv')
aut2= pd.read_csv( 'data/features1_aut2.csv')
aut3= pd.read_csv( 'data/features1_aut3.csv')
aut4= pd.read_csv( 'data/features1_aut4.csv')
aut5= pd.read_csv( 'data/features1_aut5.csv')
aut6= pd.read_csv( 'data/features1_aut6.csv')
target_aut= pd.read_csv( 'data/features1_target.csv')

In [5]:
target_aut.head()

,ref_hash,auctions_count,dia_semana_mean,hora_mean,cantidad de eventos,st
0,1000169251625791246,13.0,4.538462,11.923077,2.0,0
1,1000395625957344683,15.0,3.533333,15.733333,0.0,0
2,1003027494996471685,168.0,3.220238,8.952381,9.0,0
3,1006670001679961544,3.0,4.333333,19.000000,0.0,0
4,1007573308966476713,7.0,3.571429,15.857143,0.0,0

In [6]:
aut3.head()

,ref_hash,auctions_count,dia_semana_mean,hora_mean,cantidad de eventos,st
0,1000169251625791246,5.0,5.200000,8.600000,29.0,26346.707184
1,1000395625957344683,3.0,3.000000,8.000000,2.0,24334.885605
2,1003027494996471685,3.0,6.666667,21.333333,27.0,73885.671334
3,1006670001679961544,0.0,0.000000,0.000000,3.0,259200.000000
4,1007573308966476713,3.0,4.333333,17.333333,3.0,168200.072256

In [7]:
inst1= pd.read_csv( 'data/features1_inst1.csv')
inst2= pd.read_csv( 'data/features1_inst2.csv')
inst3= pd.read_csv( 'data/features1_inst3.csv')
inst4= pd.read_csv( 'data/features1_inst4.csv')
inst5= pd.read_csv( 'data/features1_inst5.csv')
inst6= pd.read_csv( 'data/features1_inst6.csv')
target_inst= pd.read_csv( 'data/features1_target_installs.csv')

In [11]:
target_inst.head(5)

,ref_hash,installs_count,dia_semana_mean,hora_mean,cantidad de eventos,sc
0,1000169251625791246,0.0,0.0,0.0,2.0,0
1,1000395625957344683,0.0,0.0,0.0,0.0,0
2,1003027494996471685,0.0,0.0,0.0,9.0,0
3,1006670001679961544,0.0,0.0,0.0,0.0,0
4,1007573308966476713,0.0,0.0,0.0,0.0,0

# Corro los modelos auctions

In [43]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.ensemble import VotingClassifier
import xgboost as xgb

# ventana 1 auctions

In [116]:
data=aut1

In [16]:


y = data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

RFR1 = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)
RFR1.fit(X, y)  
RFR1.feature_importances_

array([0.00347603, 0.99395174, 0.00257223, 0.        ])

In [17]:
cross_val_predict(RFR1, X, y, cv=10)
scores = cross_val_score(RFR1, X, y, cv=10, scoring='neg_mean_squared_error')

# RMSE
mse_scores = -scores
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

38504.82746361317

In [117]:
y= data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

XGB1 = xgb.XGBRegressor()
XGB1.fit(X, y)

scores = cross_val_score(XGB1 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

31439.902558271926

# ventana 2 auctions

In [118]:
data=aut2

In [119]:
y= data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

XGB2 = xgb.XGBRegressor()
XGB2.fit(X, y)

scores = cross_val_score(XGB2 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

31574.967038832976

# ventana 3 auctions

In [120]:
data=aut3

In [121]:
y= data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

XGB3 = xgb.XGBRegressor()
XGB3.fit(X, y)

scores = cross_val_score(XGB3 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

34481.49687719053

# ventana 4 auctions

In [122]:
data=aut4

In [123]:
y= data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

XGB4 = xgb.XGBRegressor()
XGB4.fit(X, y)

scores = cross_val_score(XGB4 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

36793.18030430926

# ventana 5 auctions

In [124]:
data=aut5

In [125]:
y= data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

XGB5 = xgb.XGBRegressor()
XGB5.fit(X, y)

scores = cross_val_score(XGB5 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

32030.616184266448

# ventana 6 auctions

In [126]:
data=aut6

In [127]:
y= data['st']
X = data.drop(['ref_hash', 'st'], axis=1)

XGB6 = xgb.XGBRegressor()
XGB6.fit(X, y)

scores = cross_val_score(XGB6 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

30906.303077339137

# Predicciones  auctions

In [128]:
data=target_aut

In [129]:
data.head()

,ref_hash,auctions_count,dia_semana_mean,hora_mean,cantidad de eventos,st
0,1000169251625791246,13.0,4.538462,11.923077,2.0,0
1,1000395625957344683,15.0,3.533333,15.733333,0.0,0
2,1003027494996471685,168.0,3.220238,8.952381,9.0,0
3,1006670001679961544,3.0,4.333333,19.000000,0.0,0
4,1007573308966476713,7.0,3.571429,15.857143,0.0,0

In [130]:
data.columns

Index(['ref_hash', 'auctions_count', 'dia_semana_mean', 'hora_mean',
       'cantidad de eventos', 'st'],
      dtype='object')

In [131]:

feature_final = data.drop(columns = ['ref_hash','st'])
feature_final.head()

   auctions_count  dia_semana_mean  hora_mean  cantidad de eventos
0            13.0         4.538462  11.923077                  2.0
1            15.0         3.533333  15.733333                  0.0
2           168.0         3.220238   8.952381                  9.0
3             3.0         4.333333  19.000000                  0.0
4             7.0         3.571429  15.857143                  0.0

In [54]:

#VC = VotingClassifier(estimators=[('xgb', XGB1), ('xgb', XGB2),('xgb', XGB3),('xgb', XGB4),('xgb', XGB5),('xgb', XGB6)], voting='soft', weights = [1,2,3,4,5,6])

In [132]:
result1 = XGB1.predict(feature_final)
result2 = XGB2.predict(feature_final)
result3 = XGB3.predict(feature_final)
result4 = XGB4.predict(feature_final)
result5 = XGB5.predict(feature_final)
result6 = XGB6.predict(feature_final)

In [133]:
#hago un promedio ponderado
result_ponderado=result1 *0.05 + result2 * 0.10 + result3* 0.15 + result4 *0.20 + result5*0.23 + result6 *0.27

In [134]:
target1 =data.drop(['auctions_count', 'dia_semana_mean', 'hora_mean','cantidad de eventos','st'], axis=1)
target1.head()

              ref_hash
0  1000169251625791246
1  1000395625957344683
2  1003027494996471685
3  1006670001679961544
4  1007573308966476713

In [135]:
submit = []
for l in result_ponderado:
    submit.append(l)
target1['obj'] = submit

In [136]:
target1.head()

              ref_hash            obj
0  1000169251625791246   86719.312500
1  1000395625957344683   90690.015625
2  1003027494996471685   62557.664062
3  1006670001679961544  139880.437500
4  1007573308966476713   97045.890625

In [137]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4037 entries, 0 to 4036
Data columns (total 1 columns):
ref_hash    4037 non-null int64
dtypes: int64(1)
memory usage: 31.6 KB

In [138]:

target1['ref_hash'] =  target1['ref_hash'].astype(str) +'_st'
target1.head()

                 ref_hash            obj
0  1000169251625791246_st   86719.312500
1  1000395625957344683_st   90690.015625
2  1003027494996471685_st   62557.664062
3  1006670001679961544_st  139880.437500
4  1007573308966476713_st   97045.890625

In [139]:
target1['ref_hash'].size

4037

#  Corro los modelos installs

# ventana 1 installs

In [89]:
data=inst1

In [90]:
y= data['sc']
X = data.drop(['ref_hash', 'sc'], axis=1)

XGB1 = xgb.XGBRegressor()
XGB1.fit(X, y)

scores = cross_val_score(XGB1 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

12087.162019677977

# ventana 2 installs

In [91]:
data=inst2

In [92]:
y= data['sc']
X = data.drop(['ref_hash', 'sc'], axis=1)

XGB2 = xgb.XGBRegressor()
XGB2.fit(X, y)

scores = cross_val_score(XGB2 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

12294.349940059907

# ventana 3 installs

In [93]:
data=inst3

In [94]:
y= data['sc']
X = data.drop(['ref_hash', 'sc'], axis=1)

XGB3 = xgb.XGBRegressor()
XGB3.fit(X, y)

scores = cross_val_score(XGB3 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

20341.11733722311

# ventana 4 installs

In [95]:
data=inst4

In [96]:
y= data['sc']
X = data.drop(['ref_hash', 'sc'], axis=1)

XGB4 = xgb.XGBRegressor()
XGB4.fit(X, y)

scores = cross_val_score(XGB4 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

27650.67639518115

# ventana 5 installs

In [97]:
data=inst5

In [98]:
y= data['sc']
X = data.drop(['ref_hash', 'sc'], axis=1)

XGB5 = xgb.XGBRegressor()
XGB5.fit(X, y)

scores = cross_val_score(XGB5 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

11085.450136328393

# ventana 6 installs

In [99]:
data=inst6

In [100]:
y= data['sc']
X = data.drop(['ref_hash', 'sc'], axis=1)

XGB6 = xgb.XGBRegressor()
XGB6.fit(X, y)

scores = cross_val_score(XGB6 , X, y, scoring = "neg_mean_squared_error", cv=5)

mse_scores = -scores
# paso de MSE a RMSE
rmse_scores = np.sqrt(mse_scores)
rmse_scores.mean()

12216.679561610223

# Predicciones  installs

In [101]:
data=target_inst
data.head()

,ref_hash,installs_count,dia_semana_mean,hora_mean,cantidad de eventos,sc
0,1000169251625791246,0.0,0.0,0.0,2.0,0
1,1000395625957344683,0.0,0.0,0.0,0.0,0
2,1003027494996471685,0.0,0.0,0.0,9.0,0
3,1006670001679961544,0.0,0.0,0.0,0.0,0
4,1007573308966476713,0.0,0.0,0.0,0.0,0

In [102]:
target2 =data.drop(['installs_count', 'dia_semana_mean', 'hora_mean','cantidad de eventos','sc'], axis=1)
target2.head()

              ref_hash
0  1000169251625791246
1  1000395625957344683
2  1003027494996471685
3  1006670001679961544
4  1007573308966476713

In [105]:
feature_final2 = data.drop(columns = ['ref_hash','sc'])
feature_final2.head()

   installs_count  dia_semana_mean  hora_mean  cantidad de eventos
0             0.0              0.0        0.0                  2.0
1             0.0              0.0        0.0                  0.0
2             0.0              0.0        0.0                  9.0
3             0.0              0.0        0.0                  0.0
4             0.0              0.0        0.0                  0.0

In [106]:
result1 = XGB1.predict(feature_final2)
result2 = XGB2.predict(feature_final2)
result3 = XGB3.predict(feature_final2)
result4 = XGB4.predict(feature_final2)
result5 = XGB5.predict(feature_final2)
result6 = XGB6.predict(feature_final2)

In [107]:
#hago un promedio ponderado
result_ponderado2=result1 *0.05 + result2 * 0.10 + result3* 0.15 + result4 *0.20 + result5*0.23 + result6 *0.27

In [108]:
submit = []
for l in result_ponderado2:
    submit.append(l)
target2['sc'] = submit

In [109]:

target2['ref_hash'] =  target2['ref_hash'].astype(str) +'_sc'
target2.head()

                 ref_hash           sc
0  1000169251625791246_sc  258864.5625
1  1000395625957344683_sc  258967.5625
2  1003027494996471685_sc  258877.1250
3  1006670001679961544_sc  258967.5625
4  1007573308966476713_sc  258967.5625

In [110]:
target2['ref_hash'].size

4037

In [113]:

target2.columns = ['ref_hash', 'obj']
target2.head()

                 ref_hash          obj
0  1000169251625791246_sc  258864.5625
1  1000395625957344683_sc  258967.5625
2  1003027494996471685_sc  258877.1250
3  1006670001679961544_sc  258967.5625
4  1007573308966476713_sc  258967.5625

In [140]:
target1.head()

                 ref_hash            obj
0  1000169251625791246_st   86719.312500
1  1000395625957344683_st   90690.015625
2  1003027494996471685_st   62557.664062
3  1006670001679961544_st  139880.437500
4  1007573308966476713_st   97045.890625

In [145]:
#target_final=target1.merge(target2, on='ref_hash',how='outer')
target_final=pd.concat([target1, target2], join="inner")
target_final.head(10)

                 ref_hash            obj
0  1000169251625791246_st   86719.312500
1  1000395625957344683_st   90690.015625
2  1003027494996471685_st   62557.664062
3  1006670001679961544_st  139880.437500
4  1007573308966476713_st   97045.890625
5  1010070503877148763_st  256437.140625
6  1010265377387765028_st  257698.468750
7  1010531372912327058_st   98344.539062
8  1011610998357271358_st   85151.921875
9  1013543838965040946_st   79569.515625

In [147]:
target_final.ref_hash.size

8074

In [148]:
target_final.to_csv(path_or_buf = 'submit_final_1.csv', index = False)