In [2]:
import pandas as pd
import numpy as np

## Leo todos los datos para tomar ventanas de 3 días

In [ ]:
auct = pd.read_csv("data/auctions.csv.gzip",dtype = {"ref_type_id": np.int8, "source_id": np.int8})

In [ ]:
auct.head()

In [ ]:
evts = pd.read_csv("data/events.csv.gzip", dtype = {"index": np.int32, "event_id": np.int16, "application_id": np.int16})

In [ ]:
evts.head(1)

In [ ]:
evts.dtypes

In [28]:
clks = pd.read_csv("data/clicks.csv.gzip", dtype = {'advertiser_id': np.int8, 'action_id': np.float32, 'source_id': np.int8, 'country_codde': 'category',  'carrier_id': np.float16, 'specs_brand': 'category', 'brand': np.float16, 'ref_type': 'category', 'ref_hash': 'category'})

In [12]:
clks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,1,NaN,2,2019-04-18T05:27:42.197Z,6287817205707153877,1.714547,0.871535,False,3.0,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,1.517644e+18,NaN,5.131616e+18,71913840936116953,0.0,2.317,0.968,0.503,1891515180541284343,1293710398598742392
1,1,NaN,1,2019-04-18T05:27:03.164Z,6287817205707153877,1.714512,0.871062,True,2.0,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,1.288578e+18,NaN,3.908390e+18,3576558787748411622,1.0,7.653,0.712,1.689,1891515180541284343,1663930990551616564
2,1,NaN,1,2019-04-18T05:42:07.926Z,6287817205707153877,1.714547,0.871535,True,4.0,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,2.238736e+18,NaN,3.581233e+18,3576558787748411622,NaN,464.796,0.227,0.251,1891515180541284343,8488038938665586188
3,1,NaN,1,2019-04-18T05:26:04.446Z,6287817205707153877,1.708041,0.870772,True,1.0,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,2.411640e+18,NaN,3.908390e+18,3576558787748411622,NaN,225.311,0.696,6.587,1891515180541284343,6488361690105189959
4,1,NaN,1,2019-04-18T05:23:37.764Z,6287817205707153877,1.715514,0.870772,True,2.0,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,1.517644e+18,NaN,5.131616e+18,3576558787748411622,0.0,84.736,0.059,0.142,1891515180541284343,1348993302102753419

In [11]:
clks.dtypes

advertiser_id        int64
action_id          float64
source_id            int64
created             object
country_code         int64
latitude           float64
longitude          float64
wifi_connection       bool
carrier_id         float64
trans_id            object
os_minor           float64
agent_device       float64
os_major           float64
specs_brand          int64
brand              float64
timeToClick        float64
touchX              object
touchY              object
ref_type             int64
ref_hash             int64
dtype: object

In [3]:
inst = pd.read_csv('data/installs.csv.gzip', dtype = {'application_id': np.int16, 'ref_type': 'category', 'ref_hash': 'category', 'click_hash': 'category', 'device_country_code': 'category', 'device_brand': 'category', 'device_model': 'category', 'kind': 'category', 'device_language': 'category'})

/home/sol/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [61]:
inst.memory_usage(deep = True).sum()

231656897

In [62]:
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481511 entries, 0 to 481510
Data columns (total 18 columns):
created               481511 non-null object
application_id        481511 non-null int16
ref_type              481511 non-null category
ref_hash              481511 non-null category
click_hash            1142 non-null category
attributed            481511 non-null bool
implicit              481511 non-null bool
device_countrycode    481511 non-null int64
device_brand          276443 non-null category
device_model          454619 non-null category
session_user_agent    466672 non-null object
user_agent            330768 non-null object
event_uuid            103168 non-null object
kind                  103168 non-null category
wifi                  294829 non-null object
trans_id              8933 non-null object
ip_address            481511 non-null int64
device_language       453934 non-null category
dtypes: bool(2), category(7), int16(1), int64(2), object(6)
memory usage: 51.6+ MB

In [44]:
inst.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,3.301378e+18
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18

# Armo los sets de datos por ventanas de 3 días

## Ventana N° 1: 18 al 20 de abril

In [ ]:
ventana1 = auct.loc[auct["date"].str.contains('2019-04-18') | auct["date"].str.contains('2019-04-19') | auct["date"].str.contains('2019-04-20'), :]

ventana1.to_csv(path_or_buf = 'data/auctions_ventana1.csv', index = False)

In [ ]:
evts_vent1 = evts.loc[evts["date"].str.contains('2019-04-18') | evts["date"].str.contains('2019-04-19') | evts["date"].str.contains('2019-04-20'), :]

evts_vent1.to_csv(path_or_buf = 'data/events_ventana1.csv', index = False)

In [63]:
clks_ventana1 = clks.loc[clks["created"].str.contains('2019-04-18') | clks["created"].str.contains('2019-04-19') | clks["created"].str.contains('2019-04-20'), :]
clks_ventana1.to_csv(path_or_buf = 'data/clks_ventana1.csv', index = False)

In [5]:
installs_ventana1 = inst.loc[inst["created"].str.contains('2019-04-18') | inst["created"].str.contains('2019-04-19') | inst["created"].str.contains('2019-04-20'), :]
installs_ventana1.to_csv(path_or_buf = 'data/installs_ventana1.csv', index = False)

## Ventana N° 2: 19 al 21 de abril

In [ ]:
ventana2 = auct.loc[auct["date"].str.contains('2019-04-19') | auct["date"].str.contains('2019-04-20') | auct["date"].str.contains('2019-04-21'), :]

In [ ]:
ventana2.to_csv(path_or_buf = 'data/auctions_ventana2.csv', index = False)

In [ ]:
evts_vent2 = evts.loc[evts["date"].str.contains('2019-04-19') | evts["date"].str.contains('2019-04-20') | evts["date"].str.contains('2019-04-21'), :]

In [ ]:
evts_vent2.to_csv(path_or_buf = 'data/events_ventana2.csv', index = False)

In [64]:
clks_ventana2 = clks.loc[clks["created"].str.contains('2019-04-19') | clks["created"].str.contains('2019-04-20') | clks["created"].str.contains('2019-04-21'), :]
clks_ventana2.to_csv(path_or_buf = 'data/clks_ventana2.csv', index = False)

In [66]:
installs_ventana2 = inst.loc[clks["created"].str.contains('2019-04-19') | inst["created"].str.contains('2019-04-20') | inst["created"].str.contains('2019-04-21'), :]
installs_ventana2.to_csv(path_or_buf = 'data/installs_ventana2.csv', index = False)

## Ventana N° 3: 20 al 22 de abril

In [ ]:
ventana3 = auct.loc[auct["date"].str.contains('2019-04-20') | auct["date"].str.contains('2019-04-21') | auct["date"].str.contains('2019-04-22'), :]

In [ ]:
ventana3.to_csv(path_or_buf = 'data/auctions_ventana3.csv', index = False)

In [ ]:
evts_vent3 = evts.loc[evts["date"].str.contains('2019-04-20') | evts["date"].str.contains('2019-04-21') | evts["date"].str.contains('2019-04-22'), :]

In [ ]:
evts_vent3.to_csv(path_or_buf = 'data/events_ventana3.csv', index = False)

In [67]:
clks_ventana3 = clks.loc[clks["created"].str.contains('2019-04-20') | clks["created"].str.contains('2019-04-21') | clks["created"].str.contains('2019-04-22'), :]
clks_ventana3.to_csv(path_or_buf = 'data/clks_ventana3.csv', index = False)

In [68]:
installs_ventana3 = inst.loc[clks["created"].str.contains('2019-04-20') | inst["created"].str.contains('2019-04-21') | inst["created"].str.contains('2019-04-22'), :]
installs_ventana3.to_csv(path_or_buf = 'data/installs_ventana3.csv', index = False)

## Ventana N° 4: 21 al 23 de abril

In [ ]:
ventana4 = auct.loc[auct["date"].str.contains('2019-04-21') | auct["date"].str.contains('2019-04-22') | auct["date"].str.contains('2019-04-23'), :]

In [ ]:
ventana4.to_csv(path_or_buf = 'data/auctions_ventana4.csv', index = False)

In [ ]:
evts_vent4 = evts.loc[evts["date"].str.contains('2019-04-21') | evts["date"].str.contains('2019-04-22') | evts["date"].str.contains('2019-04-23'), :]

In [ ]:
evts_vent4.to_csv(path_or_buf = 'data/events_ventana4.csv', index = False)

In [69]:
clks_ventana4 = clks.loc[clks["created"].str.contains('2019-04-21') | clks["created"].str.contains('2019-04-22') | clks["created"].str.contains('2019-04-23'), :]
clks_ventana4.to_csv(path_or_buf = 'data/clks_ventana4.csv', index = False)

In [70]:
installs_ventana4 = inst.loc[clks["created"].str.contains('2019-04-21') | inst["created"].str.contains('2019-04-22') | inst["created"].str.contains('2019-04-23'), :]
installs_ventana4.to_csv(path_or_buf = 'data/installs_ventana4.csv', index = False)

## Ventana N° 5: 22 al 24 de abril

In [ ]:
ventana5 = auct.loc[auct["date"].str.contains('2019-04-22') | auct["date"].str.contains('2019-04-23') | auct["date"].str.contains('2019-04-24'), :]

In [ ]:
ventana5.to_csv(path_or_buf = 'data/auctions_ventana5.csv', index = False)

In [ ]:
evts_vent5 = evts.loc[evts["date"].str.contains('2019-04-22') | evts["date"].str.contains('2019-04-23') | evts["date"].str.contains('2019-04-24'), :]

In [ ]:
evts_vent5.to_csv(path_or_buf = 'data/events_ventana5.csv', index = False)

In [71]:
clks_ventana5 = clks.loc[clks["created"].str.contains('2019-04-22') | clks["created"].str.contains('2019-04-23') | clks["created"].str.contains('2019-04-24'), :]
clks_ventana5.to_csv(path_or_buf = 'data/clks_ventana5.csv', index = False)

In [72]:
installs_ventana5 = inst.loc[clks["created"].str.contains('2019-04-22') | inst["created"].str.contains('2019-04-23') | inst["created"].str.contains('2019-04-24'), :]
installs_ventana5.to_csv(path_or_buf = 'data/installs_ventana5.csv', index = False)