# Trabajo Práctico N° 2
## Objetivo:

Para cada dispositivo presentado por Jampp, determinar el tiempo que transcurrirá hasta que el mismo aparezca nuevamente en una subasta, y el tiempo hasta que el usuario del mismo decida instalar una nueva aplicación.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import auc, accuracy_score
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
import xgboost as xgb
import datetime as dt

## Analizo los datos de la primer ventana

In [2]:
auct = pd.read_csv('data/auctions_ventana1.csv', dtype = {"ref_type_id": np.int8, "source_id": np.int8})

In [3]:
auct.head()

                         date            device_id  ref_type_id  source_id
0  2019-04-20 23:57:27.912838  1109595589636746168            7          0
1  2019-04-20 23:57:28.381114  5896614299191635403            1          0
2  2019-04-20 23:57:28.515423  4172466725848941608            1          0
3  2019-04-20 23:57:28.700884  2616279795187318849            7          0
4  2019-04-20 23:57:28.868312  8034952072073026056            1          0

In [4]:
auct['date'] = pd.to_datetime(auct['date'])

In [5]:
auct.head()

                        date            device_id  ref_type_id  source_id
0 2019-04-20 23:57:27.912838  1109595589636746168            7          0
1 2019-04-20 23:57:28.381114  5896614299191635403            1          0
2 2019-04-20 23:57:28.515423  4172466725848941608            1          0
3 2019-04-20 23:57:28.700884  2616279795187318849            7          0
4 2019-04-20 23:57:28.868312  8034952072073026056            1          0

## Veo cuantas veces aparece cada dispositivo en una subasta

In [6]:
dfApT = auct.groupby('device_id').agg({'date': 'count'}).reset_index()
dfApT.columns = ['device_id', 'count_subs']

In [7]:
dfApT.head()

         device_id  count_subs
0   41863526108385          35
1  135153013040192           8
2  161514654074162           6
3  181891380775191           1
4  186034136943920           7

## Veo la cantidad de veces que aparece cada dispositivo segun el source_id

In [8]:
auct['apariciones'] = 1

In [9]:
dfA = auct.groupby(['device_id', 'source_id']).agg({'apariciones':'sum'}).unstack(1).fillna(0).reset_index()
dfA.columns = dfA.columns.droplevel(0)

In [10]:
dfA.columns = ['apariciones_source_0', 'count_src_1', 'count_src_2', 'count_src_3', 'count_src_4', 'count_src_5', 'count_src_6', 'count_src_7', 'count_src_8', 'count_src_9']

In [11]:
dfA.head()

,apariciones_source_0,count_src_1,count_src_2,count_src_3,count_src_4,count_src_5,count_src_6,count_src_7,count_src_8,count_src_9
device_id,,,,,,,,,,
41863526108385,0.0,0.0,0.0,28.0,0.0,3.0,0.0,0.0,4.0,0.0
135153013040192,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161514654074162,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
181891380775191,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186034136943920,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Veo la cantidad de veces que aparece cada dispositivo en una subasta según el ref_type

In [12]:
auct['ref_type_id'].value_counts()

1    13313564
7     2331211
Name: ref_type_id, dtype: int64

In [13]:
dfApRef = auct.groupby(['device_id', 'ref_type_id']).agg({'apariciones':'sum'}).unstack(1).fillna(0).reset_index()
dfApRef.columns = dfApRef.columns.droplevel(0)
dfApRef.columns = ['count_ref_1', 'count_ref_7']
dfApRef.head()

                 count_ref_1  count_ref_7
device_id
41863526108385          35.0          0.0
135153013040192          8.0          0.0
161514654074162          6.0          0.0
181891380775191          1.0          0.0
186034136943920          7.0          0.0

## Promedio de apariciones de un dispositivo por día

In [14]:
auct['fecha'] = auct['date'].dt.date

In [17]:
dfApDay = auct.groupby(['device_id', 'fecha']).agg({'apariciones':'sum'}).unstack(1).fillna(0).reset_index()
dfApDay.columns = dfApDay.columns.droplevel(0)

In [20]:
dfApDay.head()

fecha             device_id  2019-04-18  2019-04-19  2019-04-20
0            41863526108385         0.0         1.0        34.0
1           135153013040192         0.0         0.0         8.0
2           161514654074162         6.0         0.0         0.0
3           181891380775191         0.0         0.0         1.0
4           186034136943920         2.0         0.0         5.0
5           283297668933729         1.0         0.0         0.0
6           345999128501141        45.0         2.0         1.0
7           360710529886978         9.0         1.0         3.0
8           365882020742330         0.0         4.0         1.0
9           407152743717620         1.0         0.0         0.0
10          416301579449694         0.0        10.0        25.0
11          473668258229864         0.0        46.0         0.0
12          475635010681369         1.0         0.0         0.0
13          501790157110512         0.0        50.0         8.0
14          519199987760489         0.0         0.0         1.0
15          526030445561483         0.0         2.0         1.0
16          530786270564316         1.0         4.0         3.0
17          607090818352855         1.0         0.0         0.0
18          608739959707707         1.0         0.0         1.0
19          622102439689666        14.0         0.0         0.0
20          627959756577621         1.0         1.0         1.0
21          643594200494946         3.0         0.0         0.0
22          645011308561636         0.0         4.0         0.0
23          663597233188669         2.0         0.0         0.0
24          686608884458246         1.0         7.0         1.0
25          693609737448534         0.0         1.0        12.0
26          717556230663455       167.0         0.0       119.0
27          799061852287939         7.0        10.0         0.0
28          865922026713472         0.0         1.0         8.0
29          902754879216034         7.0         7.0         8.0
...                     ...         ...         ...         ...
318295  9222382052466133853         1.0         2.0         0.0
318296  9222383114640447230         1.0         0.0         0.0
318297  9222404943481293345         0.0         7.0         0.0
318298  9222439452676054246         0.0         1.0         0.0
318299  9222445878176178987         1.0         8.0         6.0
318300  9222490463550790497        21.0         6.0        65.0
318301  9222511664358319135         8.0         7.0         1.0
318302  9222522974949986044         0.0         3.0         0.0
318303  9222762936462056152        15.0         1.0         1.0
318304  9222802779964047967         7.0         0.0         0.0
318305  9222820903899321555         5.0         0.0         0.0
318306  9222828776091827087         1.0         0.0         0.0
318307  9222830073132521659        12.0         0.0         0.0
318308  9222833096174851045         0.0         2.0         0.0
318309  9222848912066710170         0.0         5.0         0.0
318310  9222856470568969120         0.0         0.0         6.0
318311  9222941581432951568         5.0         0.0         1.0
318312  9222948803125074466         0.0         1.0         3.0
318313  9222949346293344736         3.0         5.0         3.0
318314  9222957264925735246         0.0         0.0         2.0
318315  9223059472116696420         3.0         2.0         1.0
318316  9223135580643723279         2.0         0.0         1.0
318317  9223145249047741674        29.0         3.0        14.0
318318  9223163483138526566         9.0        32.0         4.0
318319  9223186171940415898         3.0         0.0         0.0
318320  9223229584859890420        18.0        13.0         0.0
318321  9223231006535555583         4.0         1.0         4.0
318322  9223252295312976945        11.0         6.0         0.0
318323  9223285798152466987         1.0         1.0         3.0
318324  9223356715682543611       147.0         0.0         0.0

[318325 rows x 4 columns]