In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt

# Analizo  auctions

In [8]:
auctions = pd.read_csv("data/auctions.csv", dtype = {"auction_type_id": np.float16,"date":pd.to_datetime, "device_id":"category","platform": np.int8, "ref_type_id": np.int8, "source_id": np.int8})

FileNotFoundError: File b'data/auctions.csv' does not exist

In [3]:
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [4]:
#Veo  que el dataframe ocupa alrededor de 2 gb en memoria
auctions.memory_usage(deep=True)

Index                      80
auction_type_id      39142638
country             156570552
date               1624419477
device_id           156570552
platform             19571319
ref_type_id          19571319
source_id            19571319
dtype: int64

In [5]:
auctions.memory_usage(deep=True).sum()

2035417256

In [6]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 7 columns):
auction_type_id    float16
country            int64
date               object
device_id          int64
platform           int8
ref_type_id        int8
source_id          int8
dtypes: float16(1), int64(2), int8(3), object(1)
memory usage: 541.3+ MB

In [7]:
auctions['date']=pd.to_datetime(auctions['date'])
auctions.memory_usage(deep=True)

Index                     80
auction_type_id     39142638
country            156570552
date               156570552
device_id          156570552
platform            19571319
ref_type_id         19571319
source_id           19571319
dtype: int64

In [9]:
auctions.memory_usage(deep=True).sum()

567568331

In [10]:
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [11]:
#Analizo el campo auction_type_id
auctions['auction_type_id'].describe()

/home/jorge/anaconda3/lib/python3.7/site-packages/pandas/core/nanops.py:121: RuntimeWarning: Mean of empty slice
  result = bn_func(values, axis=axis, **kwds)

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: auction_type_id, dtype: float64

In [12]:
#Como acution no tiene valores la elimino
del auctions['auction_type_id']
auctions.memory_usage(deep=True).sum()

528425693

In [13]:
auctions['country'].describe()

count    1.957132e+07
mean     6.333597e+18
std      3.016674e+09
min      6.333597e+18
25%      6.333597e+18
50%      6.333597e+18
75%      6.333597e+18
max      6.333597e+18
Name: country, dtype: float64

In [20]:
# Analizo la columna country. Veo cuantos valores unicos hay
auctions['country'].nunique()

In [16]:
#Como solo hay un valor de no tiene sentido asique elimino la columna
del auctions['country']

KeyError: 'country'

In [17]:
auctions.memory_usage(deep=True).sum()

371855141

In [18]:
auctions.memory_usage(deep=True)

Index                 80
date           156570552
device_id      156570552
platform        19571319
ref_type_id     19571319
source_id       19571319
dtype: int64

In [19]:
#analizo cuantos valores únicos hay de devic_id
auctions['device_id'].nunique()

206977

In [20]:

auctions['device_id'].describe()

count    1.957132e+07
mean     4.599151e+18
std      2.667138e+18
min      1.138588e+14
25%      2.258716e+18
50%      4.616600e+18
75%      6.911427e+18
max      9.223339e+18
Name: device_id, dtype: float64

In [21]:
auctions['device_id']=auctions['device_id'].astype('category')
auctions.memory_usage(deep=True)

Index                 80
date           156570552
device_id       90426852
platform        19571319
ref_type_id     19571319
source_id       19571319
dtype: int64

In [22]:
#Analizo cuantas paltaformas distintas hay
auctions['platform'].nunique()

2

In [24]:
#veo el rango de plataforma y noto que toma dos valores  uno y 2
auctions['platform'].describe()

count    1.957132e+07
mean     1.205888e+00
std      4.043488e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
Name: platform, dtype: float64

In [33]:
auctions['platform'].astype(np.int8)
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 5 columns):
date           datetime64[ns]
device_id      category
platform       int8
ref_type_id    int8
source_id      int8
dtypes: category(1), datetime64[ns](1), int8(3)
memory usage: 291.5 MB

In [31]:
auctions.memory_usage(deep=True)

Index                 80
date           156570552
device_id       90426852
platform        19571319
ref_type_id     19571319
source_id       19571319
dtype: int64

In [34]:
auctions['source_id'].nunique()

5

In [35]:
auctions.memory_usage(deep=True).sum()

305711441

In [37]:
auctions.head()

,date,device_id,platform,ref_type_id,source_id
0,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

# Analisis de tipo de datos del dataframe clicks

In [2]:
clicks = pd.read_csv("data/clicks.csv", dtype = {"advertiser_id": np.int8, "action_id": np.float16, "source_id": np.int8, "wifi_connection": bool, "carrier_id": np.float16, "brand": np.float16, "touchX": np.float16, "touchY": np.float16})

In [5]:
clicks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.904785,0.078003,1891515180541284343,1904083516767779093
1,0,NaN,0,2019-03-08T10:24:30.641Z,6333597102633388268,1.218924,1.071209,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,0,NaN,0,2019-03-08T15:24:16.069Z,6333597102633388268,1.205689,1.070234,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,NaN,0.945801,0.472900,1891515180541284343,6958163894863846647
3,2,NaN,3,2019-03-06T03:08:51.543Z,6333597102633388268,1.205689,1.070234,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,19.013,0.035004,0.430908,1891515180541284343,4368617728156436525
4,2,NaN,3,2019-03-06T03:32:55.570Z,6333597102633388268,1.205689,1.070234,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,28.110,0.053986,0.423096,1891515180541284343,4368617728156436525

In [3]:
#Vemos que  tipos de datos 
clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26351 entries, 0 to 26350
Data columns (total 20 columns):
advertiser_id      26351 non-null int8
action_id          0 non-null float16
source_id          26351 non-null int8
created            26351 non-null object
country_code       26351 non-null int64
latitude           26351 non-null float64
longitude          26351 non-null float64
wifi_connection    26351 non-null bool
carrier_id         26340 non-null float16
trans_id           26351 non-null object
os_minor           26339 non-null float64
agent_device       3243 non-null float64
os_major           26339 non-null float64
specs_brand        26351 non-null int64
brand              6235 non-null float16
timeToClick        22977 non-null float64
touchX             23011 non-null float16
touchY             23011 non-null float16
ref_type           26351 non-null int64
ref_hash           26351 non-null int64
dtypes: bool(1), float16(5), float64(6), int64(4), int8(2), object(2)
memory usage: 2.7+ MB

In [6]:
#vemos que la columna action_id solo  tiene valores nulos asi que la puedo eliminar
del clicks['action_id']
clicks.memory_usage(deep=True).sum()

6851340

In [ ]:
#Como el data frama ya ocupa poco espacio no tiene sentido seguis reduciendo el espacio

# Analisis  de tipos del dataframe eventos

In [2]:
events = pd.read_csv("data/events.csv", dtype = {"event_id": np.int16, "application_id": np.int16})

/home/jorge/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
events.memory_usage(deep=True).sum()

986807484

In [4]:
events.memory_usage(deep=True)

Index                        80
date                  199553840
event_id                4988846
ref_type               19955384
ref_hash               19955384
application_id          4988846
attributed              2494423
device_countrycode     19955384
device_os_version      19955384
device_brand           19955384
device_model           19955384
device_city            19955384
session_user_agent     19955384
trans_id               79825862
user_agent             19955384
event_uuid            231670300
carrier                19955384
kind                   19955384
device_os              19955384
wifi                   83545144
connection_type       100364767
ip_address             19955384
device_language        19955384
dtype: int64

In [5]:
events['date']=pd.to_datetime(events['date'])
events.memory_usage(deep=True)

Index                        80
date                   19955384
event_id                4988846
ref_type               19955384
ref_hash               19955384
application_id          4988846
attributed              2494423
device_countrycode     19955384
device_os_version      19955384
device_brand           19955384
device_model           19955384
device_city            19955384
session_user_agent     19955384
trans_id               79825862
user_agent             19955384
event_uuid            231670300
carrier                19955384
kind                   19955384
device_os              19955384
wifi                   83545144
connection_type       100364767
ip_address             19955384
device_language        19955384
dtype: int64

In [7]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494423 entries, 0 to 2494422
Data columns (total 22 columns):
date                  datetime64[ns]
event_id              int16
ref_type              int64
ref_hash              int64
application_id        int16
attributed            bool
device_countrycode    int64
device_os_version     float64
device_brand          float64
device_model          float64
device_city           float64
session_user_agent    float64
trans_id              object
user_agent            float64
event_uuid            object
carrier               float64
kind                  float64
device_os             float64
wifi                  object
connection_type       object
ip_address            int64
device_language       float64
dtypes: bool(1), datetime64[ns](1), float64(10), int16(2), int64(4), object(4)
memory usage: 373.5+ MB

In [11]:
events['event_uuid'].describe()

count                                  2489324
unique                                 2489324
top       4178015c-0335-4a09-810d-2c7572cd0e7f
freq                                         1
Name: event_uuid, dtype: object

In [12]:
del events['event_uuid']
events.memory_usage(deep=True).sum()

575538728

In [13]:
events['wifi'].describe()

count     1378872
unique          2
top          True
freq       930902
Name: wifi, dtype: object

In [15]:
events['wifi']=events['wifi'].astype('bool')
events.memory_usage(deep=True)

Index                        80
date                   19955384
event_id                4988846
ref_type               19955384
ref_hash               19955384
application_id          4988846
attributed              2494423
device_countrycode     19955384
device_os_version      19955384
device_brand           19955384
device_model           19955384
device_city            19955384
session_user_agent     19955384
trans_id               79825862
user_agent             19955384
carrier                19955384
kind                   19955384
device_os              19955384
wifi                    2494423
connection_type       100364767
ip_address             19955384
device_language        19955384
dtype: int64

In [17]:
events['connection_type'].describe()

count        612463
unique            3
top       Cable/DSL
freq         331948
Name: connection_type, dtype: object

In [19]:
events['connection_type']=events['connection_type'].astype('category')
events.memory_usage(deep=True)

Index                       80
date                  19955384
event_id               4988846
ref_type              19955384
ref_hash              19955384
application_id         4988846
attributed             2494423
device_countrycode    19955384
device_os_version     19955384
device_brand          19955384
device_model          19955384
device_city           19955384
session_user_agent    19955384
trans_id              79825862
user_agent            19955384
carrier               19955384
kind                  19955384
device_os             19955384
wifi                   2494423
connection_type        2494700
ip_address            19955384
device_language       19955384
dtype: int64

In [21]:
events['trans_id'].describe()

count         82
unique        13
top       {hash}
freq          33
Name: trans_id, dtype: object

In [22]:
del events['trans_id']
events.memory_usage(deep=True).sum()

316792078

In [20]:
events.memory_usage(deep=True).sum()

396617940

In [25]:
events.head()

,date,event_id,ref_type,ref_hash,application_id,attributed,device_countrycode,device_os_version,device_brand,device_model,device_city,session_user_agent,user_agent,carrier,kind,device_os,wifi,connection_type,ip_address,device_language
0,2019-03-05 00:09:36.966,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,3.258215e+18,7.164321e+18,NaN,2.248157e+17,5.516623e+18,7.531669e+18,True,Cable/DSL,7858558567428669000,4.077062e+17
1,2019-03-05 00:09:38.920,1,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,3.258215e+18,7.164321e+18,NaN,2.248157e+17,9.977660e+17,7.531669e+18,True,Cable/DSL,7858558567428669000,4.077062e+17
2,2019-03-05 00:09:26.195,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,3.258215e+18,7.164321e+18,NaN,2.248157e+17,5.516623e+18,7.531669e+18,True,Cable/DSL,7858558567428669000,4.077062e+17
3,2019-03-05 00:09:31.107,2,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,2.551781e+18,7.164321e+18,NaN,2.248157e+17,8.561153e+18,7.531669e+18,True,Cable/DSL,6324037615828123965,4.077062e+17
4,2019-03-09 21:00:36.585,3,1891515180541284343,2635154697734164782,38,False,6333597102633388268,7.391844e+18,NaN,5.960896e+18,6.959330e+18,7.164321e+18,NaN,2.248157e+17,8.731902e+17,7.531669e+18,True,Cable/DSL,2894495631302821483,3.301378e+18

In [28]:
events['device_os'].describe()

count    6.576670e+05
mean     7.251101e+18
std      5.247066e+17
min      2.748831e+18
25%      6.941825e+18
50%      7.531669e+18
75%      7.531669e+18
max      7.531669e+18
Name: device_os, dtype: float64

In [214]:
inst = pd.read_csv("data/installs.csv", dtype = {"application_id": np.int16, "click_hash": np.float16})
inst.head(10)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-03-13 01:43:33.445,0,1891515180541284343,8464844987297247076,NaN,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,5529284367937637301,NaN
1,2019-03-13 04:58:35.078,0,1891515180541284343,3250564871270161533,NaN,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,6098022721363533304,NaN
2,2019-03-13 04:20:57.666,0,1891515180541284343,7953318831018100268,NaN,False,True,6333597102633388268,5.137992e+17,6.026543e+18,HasOffers Mobile AppTracking v1.0,NaN,0bfa9b4c-e07a-4522-b32d-138e3165ac98,Open,NaN,NaN,4636407223847323867,3.301378e+18
3,2019-03-13 04:20:57.698,0,1891515180541284343,7953318831018100268,NaN,False,False,6333597102633388268,5.137992e+17,6.026543e+18,NaN,NaN,NaN,NaN,NaN,NaN,4636407223847323867,NaN
4,2019-03-10 22:24:56.684,0,1891515180541284343,8355110941557237501,NaN,False,True,6333597102633388268,1.083369e+18,7.876612e+18,HasOffers Mobile AppTracking v1.0,NaN,8f235a8c-41bf-4399-b33d-c41577c949b0,Open,NaN,NaN,685400811232710215,3.301378e+18
5,2019-03-10 22:24:57.545,0,1891515180541284343,8355110941557237501,NaN,False,False,6333597102633388268,1.083369e+18,7.876612e+18,NaN,NaN,NaN,NaN,NaN,NaN,685400811232710215,NaN
6,2019-03-11 03:47:22.802,0,1891515180541284343,4306303321567254439,NaN,False,True,6333597102633388268,3.083059e+17,9.179743e+18,HasOffers Mobile AppTracking v1.0,NaN,b3f7905b-5058-4eca-853c-b3c670d7ac54,Open,NaN,NaN,7462893331703692427,4.073835e+18
7,2019-03-11 21:21:05.986,0,1891515180541284343,1670430602051291592,NaN,False,False,6333597102633388268,1.083369e+18,7.551685e+17,NaN,NaN,NaN,NaN,NaN,NaN,5634136297886425939,NaN
8,2019-03-11 21:21:05.855,0,1891515180541284343,1670430602051291592,NaN,False,True,6333597102633388268,1.083369e+18,7.551685e+17,HasOffers Mobile AppTracking v1.0,NaN,28a6e6a0-ba70-46a2-a63f-1e74b0dd5235,Open,NaN,NaN,5634136297886425939,3.301378e+18
9,2019-03-13 08:29:31.875,2,1891515180541284343,5651666841804012468,NaN,False,False,6333597102633388268,3.083059e+17,8.656854e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 22; SM-J200M B...,NaN,NaN,True,NaN,5997848429649592955,9.028383e+18

# Analisis de los tipos de datos del dataframe instalaciones

In [215]:
#Primero analizo cuanto ocupa el datframe instalciones 
# para ello uso la funcion memory_usage()
inst.memory_usage(deep=True).sum()

1495715

In [216]:
# Vemos que el dataframa inst ocupa 1,4 gb vemos cuanto ocupa cada campo
inst.memory_usage(deep=True)

Index                     80
created               272960
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent    233678
user_agent            250559
event_uuid            161949
kind                  140818
wifi                  114692
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [217]:
#vemos que las columnas created , session_user_agent, user_agent,event_uuid, kinf , wiffi y trans_id 
#son la que mas memoria ocupan
# ahora anlizamos los tipos de datos
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 18 columns):
created               3412 non-null object
application_id        3412 non-null int16
ref_type              3412 non-null int64
ref_hash              3412 non-null int64
click_hash            0 non-null float16
attributed            3412 non-null bool
implicit              3412 non-null bool
device_countrycode    3412 non-null int64
device_brand          1047 non-null float64
device_model          3411 non-null float64
session_user_agent    3364 non-null object
user_agent            1729 non-null object
event_uuid            865 non-null object
kind                  865 non-null object
wifi                  1729 non-null object
trans_id              6 non-null object
ip_address            3412 non-null int64
device_language       3378 non-null float64
dtypes: bool(2), float16(1), float64(3), int16(1), int64(4), object(7)
memory usage: 393.3+ KB

In [218]:
#Se puede ver que la columna created que almacena fecha y hora esta como object. 
#Convertimos la columna crated a datetime
inst['created']=pd.to_datetime(inst['created'])
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent    233678
user_agent            250559
event_uuid            161949
kind                  140818
wifi                  114692
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [219]:
#Vemos que logramos bajar de aproximadamente 270 mb a 27 mb el tamaño de la columna created
#Convertimos el campo wifi a bool y reducimos tambien la memoria
inst['wifi']=inst['wifi'].astype('bool')
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent    233678
user_agent            250559
event_uuid            161949
kind                  140818
wifi                    3412
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [220]:
# Analizamos session_user_agent que ocpa 236 mb
inst['session_user_agent'].isnull().sum()

48

In [221]:
#vemps que session_user_agent hay 48 valores nulos y 12 valores únicos

inst['session_user_agent'].describe()

count             3364
unique              12
top       http-kit/2.0
freq              1729
Name: session_user_agent, dtype: object

In [222]:
# Como son pocos valores nulos, elejimps elimnar esas filas y convertir el tipo de dato a category
inst['session_user_agent']=inst['session_user_agent'].dropna()
inst['session_user_agent'].isnull().sum()

48

In [223]:
inst['session_user_agent']=inst['session_user_agent'].astype('category')
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent      5817
user_agent            250559
event_uuid            161949
kind                  140818
wifi                    3412
trans_id              109435
ip_address             27296
device_language        27296
dtype: int64

In [224]:
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 18 columns):
created               3412 non-null datetime64[ns]
application_id        3412 non-null int16
ref_type              3412 non-null int64
ref_hash              3412 non-null int64
click_hash            0 non-null float16
attributed            3412 non-null bool
implicit              3412 non-null bool
device_countrycode    3412 non-null int64
device_brand          1047 non-null float64
device_model          3411 non-null float64
session_user_agent    3364 non-null category
user_agent            1729 non-null object
event_uuid            865 non-null object
kind                  865 non-null object
wifi                  3412 non-null bool
trans_id              6 non-null object
ip_address            3412 non-null int64
device_language       3378 non-null float64
dtypes: bool(3), category(1), datetime64[ns](1), float16(1), float64(3), int16(1), int64(4), object(4)
memory usage: 347.0+ KB

In [225]:
#analizo trans:id
inst['trans_id'].describe()

count          6
unique         4
top       {hash}
freq           3
Name: trans_id, dtype: object

In [226]:
#veo que trans_ide solo tiene 6 valores no nulos por lo no tiene sentido que si
del inst['trans_id']

In [227]:
inst.memory_usage(deep=True).sum()

801475

In [228]:
#analizo kind
inst['kind'].describe()

count               865
unique               20
top       af_app_opened
freq                428
Name: kind, dtype: object

In [229]:
#vemos que la columan kind tiene 20 valores distintos por lo que puedo pasarlo a categorica
inst['kindt']=inst['kind'].astype('category')
inst.memory_usage(deep=True).sum()

806936

In [230]:
#analizo eventi uuid
inst['event_uuid'].describe()

count                                      865
unique                                     865
top       77de689a-87fb-4246-9122-87bef19e13db
freq                                         1
Name: event_uuid, dtype: object

In [231]:
# como vemos que tien 865 valores unicos no se podria exraer conclusion alguna por lo que puedo eleiminar esa columna
del inst['event_uuid']

In [232]:
inst.memory_usage(deep=True).sum()

644987

In [233]:
#analizo user_agent
inst['user_agent'].describe()

count                                                 1729
unique                                                 334
top       MercadoPago/2.58.0.2 CFNetwork/976 Darwin/18.2.0
freq                                                   393
Name: user_agent, dtype: object

In [234]:
inst['user_agent']=inst['user_agent'].astype('category')
inst.memory_usage(deep=True)

Index                     80
created                27296
application_id          6824
ref_type               27296
ref_hash               27296
click_hash              6824
attributed              3412
implicit                3412
device_countrycode     27296
device_brand           27296
device_model           27296
session_user_agent      5817
user_agent             56854
kind                  140818
wifi                    3412
ip_address             27296
device_language        27296
kindt                   5461
dtype: int64

In [235]:
inst['kind']=inst['kind'].astype('category')
inst.memory_usage(deep=True)

Index                    80
created               27296
application_id         6824
ref_type              27296
ref_hash              27296
click_hash             6824
attributed             3412
implicit               3412
device_countrycode    27296
device_brand          27296
device_model          27296
session_user_agent     5817
user_agent            56854
kind                   5461
wifi                   3412
ip_address            27296
device_language       27296
kindt                  5461
dtype: int64

In [236]:
inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 17 columns):
created               3412 non-null datetime64[ns]
application_id        3412 non-null int16
ref_type              3412 non-null int64
ref_hash              3412 non-null int64
click_hash            0 non-null float16
attributed            3412 non-null bool
implicit              3412 non-null bool
device_countrycode    3412 non-null int64
device_brand          1047 non-null float64
device_model          3411 non-null float64
session_user_agent    3364 non-null category
user_agent            1729 non-null category
kind                  865 non-null category
wifi                  3412 non-null bool
ip_address            3412 non-null int64
device_language       3378 non-null float64
kindt                 865 non-null category
dtypes: bool(3), category(4), datetime64[ns](1), float16(1), float64(3), int16(1), int64(4)
memory usage: 267.9 KB

In [237]:
#vemos que la columna click_hash es no tiene valores no nulos
del inst['click_hash']

In [246]:
inst.memory_usage(deep=True)

Index                    80
created               27296
application_id         6824
ref_type              27296
ref_hash              27296
attributed             3412
implicit               3412
device_countrycode     3508
device_brand           4908
device_model          27296
session_user_agent     5817
user_agent            56854
kind                   5461
wifi                   3412
ip_address            27296
device_language        4932
kindt                  5461
dtype: int64

In [239]:
#paso a categorias algunos campos
inst['device_countrycode']=inst['device_countrycode'].astype('category')
inst['device_brand']=inst['device_brand'].astype('category')
#inst['device_model']=inst['device_model'].astype('category')
inst['device_language']=inst['device_language'].astype('category')

inst.memory_usage(deep=True)

Index                    80
created               27296
application_id         6824
ref_type              27296
ref_hash              27296
attributed             3412
implicit               3412
device_countrycode     3508
device_brand           4908
device_model          27296
session_user_agent     5817
user_agent            56854
kind                   5461
wifi                   3412
ip_address            27296
device_language        4932
kindt                  5461
dtype: int64

In [245]:
# El dataframa inst paso de casi 1,5 gb a 240 mb!!!
inst.memory_usage(deep=True).sum()

240561